# PhoneGap version
VERSION=1.8.1

# name / path to the android project
PROJECT_PATH=./AndroidDocBookApp

# package/directory structure inside the "src" of the Android project. 
PACKAGE=docbook.xsl.mobile

# Name of the creating android activity class name. Also this will be the name of build .apk app
ACTIVITY=DocBookMobileAppActivity

# IMPORTANT :
#	This means the platform number of Android target vertion which is given under
#	$ android list targets
#	Please refer for more details : http://developer.android.com/tools/devices/managing-avds-cmdline.html
# Also check the "Type: Platform", but not "Type: Add-on".
TARGET=5
